{/* // <div className="flex flex-col justify-center items-center mt-12">
    //   <form onSubmit={handleSubmit}>
    //     <div className="block">
    //       <div>
    //         <label */}
    //           className="text-2xl inline border-4 border-white"
    //           htmlFor="name"
    //         >
    //           Name:
    {/* //         </label>
    //       </div>
    //       <div className="mt-0">
    //         <input */}
    //           class="bg-white mt-10 border-4 border-red-400"
    //           type="text"
    //           id="name"
    //           required
    //         />
    {/* //       </div>
    //     </div>
    //     <div>
    //       <label className="text-2xl block" htmlFor="email">
    //         Email:
    //       </label>
    //       <input class="bg-white mt-10" ty00pe="email" id="email" required />
    //     </div>
    //     <div>
    //       <label className="text-2xl block" htmlFor="message">
    //         Message:
    //       </label>
    //       <textarea class="bg-white mt-10" id="message" required />
    //     </div>
    //     <button class="bg-white mt-10" type="submit">
    //       {status}
    //     </button>
    //   </form>
    // </div> */}
